<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>wrtie_text</title>
</head>
<body>

    <form action="/app/community/write-text" method="post">
        writer: <span type="text" th:text="${session.loginEmail}"></span> <br>
        title: <input type="text" name="textTitle"> <br>
        contents: <textarea name="textContents" cols="30" rows="30"></textarea> <br>
        <input type="submit" value="글 작성">

    </form>

</body>
</html>